<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CA's Dashboard</name>
    <description>
      Pre Alpha version of CA's dashboard
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Sanchit Dang
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
